.error404 {
  padding: em(80, 16) 0;
}

.error404__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  font-size: em(24, 16);
}

.error404__title {
  font-size: em(160, 24);
  margin-bottom: em(40, 160);
}

.error404__subtitle {
  font-size: em(40, 24);
}