.DS_STORE
.vscode

.idea

/wp-admin/
/wp-includes/

/wp-content/index.php
/wp-content/languages
/wp-content/plugins
/wp-content/uploads
/wp-content/smush-webp
/wp-content/cache
/wp-content/upgrade
/wp-content/upgrade-temp-backup

*.log
wp-config.php
local-xdebuginfo.php
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/wp-content/themes/twenty*/
/wp-content/themes/index.php
/.htaccess

/wp-content/themes/portfolio-v1/node_modules
/wp-content/themes/portfolio-v1/public