.singleProject__header {
  display: inline-block;
  align-items: center;
  position: relative;
  margin-bottom: em(40, 16);
}

.singleProject__return {
  height: 100%;
}

.singleProject__title {
  background: url('../../img/previous-arrow.svg') no-repeat left;
  background-size: em(40, 40);
  padding-left: em(65, 40);
  text-transform: unset;
  margin: 0;
}

.singleProject__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: em(70, 16);
}

.singleProject__content {
  font-weight: 100;
  line-height: em(25, 16);
  height: 100%;
}

.singleProject__link {
  align-self: center;
}

.singleProject__fig {
  text-align: center;
}

.singleProject__thumb {
  width: 100%;
  height: 100%;
}

.singleProject__frame {
  width: 100%;
  margin-top: em(30, 16);
}

.iframe__info {
  font-weight: 100;
}

strong {
  font-weight: 500;
}

.singleProject__nav {
  display: flex;
  justify-content: space-between;
  font-size: em(18, 16);
}

a[rel='prev'] {
  background: url('../../img/previous-arrow.svg') no-repeat left;
  background-size: em(20, 16);
  padding-left: em(35, 16);
}

a[rel='next'] {
  background: url('../../img/next-arrow.svg') no-repeat right;
  background-size: em(20, 16);
  padding-right: em(35, 16);
}