@import "reset";
@import url("https://use.typekit.net/zyw5skq.css");

html, body {
  height: 100%;
}

body {
  background-color: #F9F3EC;
  font-family: museo-sans, sans-serif;
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: auto 1fr;
}

a {
  color: #3D3329;
  text-decoration: none;
}

.info {
  position: absolute;
}

.homepage__link {
  opacity: 0;
}

.homepage__logo::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: url("../../img/logo.svg") no-repeat;
}

.home .homepage__logo::before {
  height: 180%;
}

.btn {
  font-family: museo-sans, sans-serif;
  color: #FFFFFF;
  background-color: #7DA7CA;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 25px;
}

.btn--secondary {
  background-color: transparent;
  color: #7DA7CA;
}

main {
  margin: 40px 100px;
  grid-column: 1 / 4;
  position: relative;
}

main:before {
  content: "";
  background-color: rgba(255, 165, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
main:after {
  content: "";
  background-color: rgba(255, 192, 203, 0.3);
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h2 {
  color: #3D3329;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  font-size: 40px;
  font-weight: 600;
  //margin: 40px 0;
}

h3 {
  color: #3D3329;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-top: 40px;
  //margin-bottom: 30px;
}

.has-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

//CONTACT
.form .flex {
  display: flex;
  justify-content: space-between;
}
.form__field {
  display: flex;
  flex-direction: column;
}

input[type=text], input[type=email], textarea {
  background-color: #FDFAF7;
  border: 1px solid #CAA07D;
  border-radius: 20px;
  min-height: 30px;
  min-width: 270px;
}

::placeholder {
  font-family: museo-sans, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  font-weight: 100;
}

label {
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0 10px;
}

//HOME
.home header {
  background-color: #CAA07D;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.home .nav {
  text-align: center;
  margin-top: 30%;
}

.home .nav__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.home .nav__item {
  background-color: #E4CFBE;
  font-size: 30px;
  font-weight: 600;
  width: 300px;
  padding: 20px 15px;
  border-radius: 50px;
}

.home main {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  font-family: montserrat, sans-serif;
  color: #3D3329;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin: auto 0;
  letter-spacing: 20px;
}

.home h2 {
  font-size: 2em;
  margin-bottom: 0.4em;
  font-weight: 600;
  letter-spacing: 0;
}

.home footer {
  background-color: transparent;
}


// NAVIGATION
header {
  grid-column: 1 / 4;
  background-color: rgba(255, 255, 255, 0.65);
  font-weight: 300;
  font-size: 20px;
  padding: 20px;
  text-transform: uppercase;
}

.main .nav {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
}

.main .nav__container {
  display: flex;
  gap: 130px;
  align-items: center;
}

.nav__item--current, .nav__locale--current {
  font-weight: 700;
}

.nav__languages {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 17px;
  padding: 12px 16px;
  //display: flex;
  //align-items: center;
  //background-color: rgba(202, 160, 125, 0.7);
  //border-radius: 25px;
}

.nav__locale + .nav__locale {
  //order: 2;
  border-left: 1px #3D3329 solid;
  padding-left: 8px;
  margin-left: 8px;
}

//ABOUT
.about__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// FOOTER
footer{
  background-color: #CAA07D;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 35px;
  grid-row: 3 / 4;
  grid-column: 1 / 4;
}

.footer__right, .footer__socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__socials::before {
  content: "";
  width: 20px;
  height: 1px;
  margin: 0 10px;
  background-color: #3D3329;
}

.footer__img {
  height: 30px;
  fill: #3D3329;
  transition: fill 0.3s ease-in-out;
}

.github:hover {
  fill: #6E5494;
}

.linkedin:hover {
  fill: #0E76A8;
}